@import "../../../Assets/Scss/veriables.scss";
@import "~react-pro-sidebar/dist/scss/styles.scss";@import "../../../Assets/Scss/veriables.scss";
@import "~react-pro-sidebar/dist/scss/styles.scss";



.login_height
{
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    padding-top: 5%;
}

.background_image_login
{
   background-image: url('../../../Assets/Images/banner.png');
   height: 100vh;
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;

}

.heading_login
{
    font-size: $font-32;
    font-family: $font-family;
    padding-top: 12%;
    font-weight: $font-weight-400;
    color: $white;
}

.heading2_login
{
    font-size: $font-50;
    font-family: $font-family;
    font-weight: $font-weight-500;
    line-height: 115%;
    color: $white;
    text-transform: uppercase;
}

.heading3_login
{
    font-size: $font-28;
    font-family: $font-family;
    font-weight: $font-weight-400;
    line-height: 115%;
    color: $white;
}

.heading4_login
{
padding-top: 5%;
 color: $black;
 font-weight: 1000 !important;
 font-size: $font-26;
}

.heading5_login
{
 font-weight: $font-weight-400 !important;
 font-size: $font-20;
 color: $gray;
}


.label_login
{
    font-size: $font-12;
    color: $gray;
    font-weight: $font-weight-400 !important;
}

.join_login
{
    font-size: $font-12;
    color: $gray;
    font-weight: $font-weight-400 !important;
}

.join2_login
{
    font-size: $font-12;
    color: $blue;
    font-weight: $font-weight-400 !important;
}

.button_linkedin
{
    font-size: $font-22
}

.mob_logo
{
    display: none;
}

.link_decoration
{
    text-decoration: none;
    
}

.text_color_line
{
    color: $black;
    // font-size: 10px;

}


.right_arrow_login1
{
    color: $black;
    font-weight: $font-weight-300 !important;
}

.img_width_login
{
    width: 100%;
}

.img_bulb_width
{
    width: 3.5%;
}

.button_style_forget
{
    border: 1px solid lightgray;
    background-color: white;
}

.button_style_forget:hover
{

    background-color: white;
    border: none;
    box-shadow: 4px 4px 6px 6px rgba(128, 128, 128, 0.213);
}


.custom_button_forget
{
    background-color: #25224A !important;
    border-top-left-radius: 1px !important;
    border-top-right-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
    border-bottom-left-radius: 10px !important;
    font-size: 80%;
    width: 100%;
    padding: 10px 10px !important;
    border-top-right-radius: 10px;
}

.custom_button_forget:hover
{
    background-color: #25224A !important;
    border-top-left-radius: 1px !important;
    border-top-right-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
    border-bottom-left-radius: 10px !important;
    font-size: 80%;
    width: 100%;
}

.mobile_padding_bottom_forget
{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
   
    color: white;
    text-align: center;
}

@media screen and (max-width: 980px) {
    .login_height
    {
        height: auto;
        overflow-y: auto;
        overflow-x: hidden;
    }

   .background_image_login
   {
  display: none;
   }
   .heading4_login
    {
    padding-top: 20%;
    color: $black;
    font-weight: $font-weight-700 !important;
    font-size: $font-26;
    }
    .mob_logo
        {
            padding-top: 30% !important;
            display: block;
        }




   .mobile_padding_bottom
   {
    padding-bottom: 15% !important;
   }
   .button_style_forget
   {
    margin-top: 30%;
   }
  }