.height_page
{
    height: 100vh !important;
}

.styletext
{
    color: gray;
    font-size: 70%;
}

.resend_color
{
    color: rgb(67, 67, 205);
    cursor: pointer;
}

.paddingCEnter
{
    padding-top: 10%;
}