@import "../../../../Assets/Scss/veriables.scss";
@import "~react-pro-sidebar/dist/scss/styles.scss";



.radio_signup
{
    border: 1px dashed gray !important; 
}

.button_login
{
    width: auto !important;
    font-size: 90% !important;
    border-radius: 1px !important;
    padding: 2px 10px !important; 
    background-color: #007BB6 !important;
}

.button_login:hover
{
    width: auto !important;
    font-size: 90% !important;
    border-radius: 1px !important;
    background-color: #007BB6 !important;   
}

.login_height
{
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    padding-top: 5%;
}

.background_image_login
{
   background-image: url('../../../../Assets/Images/banner.png');
   height: 100vh;
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;

}

.heading_login
{
    font-size: $font-32;
    font-family: $font-family;
    padding-top: 12%;
    font-weight: $font-weight-400;
    color: $white;
}

.heading2_login
{
    font-size: $font-50;
    font-family: $font-family;
    font-weight: $font-weight-500;
    line-height: 115%;
    color: $white;
    text-transform: uppercase;
}

.heading3_login
{
    font-size: $font-28;
    font-family: $font-family;
    font-weight: $font-weight-400;
    line-height: 115%;
    color: $white;
}

.heading4_login
{
padding-top: 5%;
 color: $black;
 font-weight: 1000 !important;
 font-size: $font-26;
}

.heading5_login
{
 font-weight: $font-weight-400 !important;
 font-size: $font-20;
 color: $gray;
}


.label_login
{
    font-size: $font-12;
    color: $gray;
    font-weight: $font-weight-400 !important;
}

.join_signup
{
    font-size: $font-10;
    color: $lightgray;
    font-weight: $font-weight-600 !important;
}

.join_login
{
    font-size: $font-12;
    color: $gray;
    font-weight: $font-weight-400 !important;
}

.join2_login
{
    font-size: $font-12;
    color: $blue;
    font-weight: $font-weight-400 !important;
}

.button_linkedin
{
    font-size: $font-22
}

.mob_logo
{
    display: none;
}

.link_decoration
{
    text-decoration: none;
 
    
}
.link_decoration1
{
    // text-decoration: none;
    color: $black;
    text-decoration-style: dashed;
    
}

.text_color_line
{
    color: $black;
    // font-size: 10px;

}

.button_style_signup
{
    background-color: #25224A !important;
    border-top-left-radius: 1px !important;
    font-size: 80%;
}

.button_style_signup:hover
{
    background-color: #25224A !important;
    border-top-left-radius: 1px !important;
    font-size: 80%;
}

.right_arrow_login
{
    color: #74AC72;
}

.img_width_login
{
    width: 100%;
}

.img_bulb_width
{
    width: 3.5%;
}

.label_color
{
    color: $gray;
    font-size: $font-12;

}

@media screen and (max-width: 980px) {
    .login_height
    {
        height: auto;
        overflow-y: auto;
        overflow-x: hidden;
    }

   .background_image_login
   {
  display: none;
   }
   .heading4_login
    {
    padding-top: 5%;
    color: $blue;
    font-weight: $font-weight-700 !important;
    font-size: $font-26;
    }
    .mob_logo
        {
            padding-top: 30% !important;
            display: block;
        }




   .mobile_padding_bottom
   {
    padding-bottom: 15% !important;
   }
   .heading4_login
    {
    padding-top: 35%;
    color: $black;
    font-weight: 1000 !important;
    font-size: $font-26;
    }
  }