.border_radius_div
{
    border-radius: 5px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    height: 20vh;
}

.border_radius_div_auto
{
    border-radius: 5px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    height: auto;
}
.text_style_balance
{
    color: #a7a7a7;
    font-size: 12px;
}

.text_style_balance11
{
    color: #222b2c;
    font-size: 30px;
}

.text_style_balance10
{
    color: #222b2c;
    font-size: 20px;
}

.font_pkr
{
    font-size: 16px;
}

.font_sixze
{
    font-size: 10px !important;
}

.bg_second_section
{
    border-radius: 5px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    height: 60vh;
    margin-top: 2%;
    background-color: white;
    padding-top: 1%;
}
.apexcharts-toolbar
{
    display: none;
}